*{ padding: 0; margin: 0; }

#game {
  width:100%;
  height:200px;
  border:1px solid black;
}

#character {
  width:20px;
  height:60px;
  border:1px solid black;
  position: relative;
  top: 140px;
}

.jumping {
  animation: jumping 1s linear;
}

.falling {
  animation: falling .2s linear;
}

@keyframes jumping {
  0%{ top:140px; }
  30%{ top:90px; }
  70%{ top:90px; }
  100%{ top:140px; }
}

@keyframes falling {
  100%{ top:140px; }
}

#block {
  width:15px;
  height:15px;
  border:1px solid black;
  position: relative;
  top:185px;
  left:100%;
  animation: sliding 5s infinite linear;
}

@keyframes sliding {
  0%{left:100%;}
  100%{left:-15px;}
}
