*{ padding: 0; margin: 0; }

#game {
  width:100%;
  height:200px;
  border:1px solid black;
}

#character {
  width:20px;
  height:60px;
  border:1px solid black;
  position: relative;
  top: 140px;
}

.jump {
  animation: jump 1s linear;
}

@keyframes jumping {
  0%{ top:140px; }
  30%{ top:90px; }
  70%{ top:90px; }
  100%[ top:140px; }
}

#block {
  width:15px;
  height:15px;
  border:1px solid black;
  position: relative;
  top:185px;
  left:30px;
  animation: sliding 3s infinite linear;
}

@keyframes sliding {
  0%{left:30px;}
  100%{left:-40px;}
}
