*{ padding: 0; margin: 0; }

#game {
  width:100%;
  height:201px;
  border:1px solid black;
  overflow: hidden;
}

#character {
  width: 20px;
  height: 60px;
  border: 1px solid black;
  position: relative;
  left: 10%;
  top: 140px;
}

#block {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  position: relative;
  top: 118px;
  left: 100%;
  animation: sliding 5s infinite linear;
}

@keyframes sliding {
  0%{left:100%;}
  100%{left:-5%;}
}

@keyframes folding {
  0%{width:20px;}
  100%{width:0px;}
}
