*{ padding: 0; margin: 0; }

#game {
  width:100%;
  height:501px;
  border:1px solid black;
  background-image: url("https://imgix.gizmodo.com.au/content/uploads/sites/2/2018/06/22/dqn7zk3bx5lzy1kje2jo.gif?ar=16%3A9&auto=format&fit=crop&q=65&w=720&nrs=40&fm=gif");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  overflow: hidden;
}

#caption {
  padding-left:25%;
  padding-top:5%;
  width: 50%;
  postion: fixed;
}
#carrots, #sprint, #winds, #stomp, #winds2, #boostedStomp, #winds3, #staminaBoost {
  color: transparent;
}

#statusBar {
  width: 10%;
  height: 10%;
  top: 10%;
  left: 45%;
  border:2px solid black;
  position: fixed;
}

#score {
  text-align: center;
}

#stamina {
  width: 100%;
  height: 15%;
  padding-top: 0px;
  background-color: #66ccff;
}

#character_hitbox {
  width: 20px;
  height: 60px;
  position: absolute;
  left: 40px;
  top: 39px;
}
#character_avatar {
  overflow: hidden;
  width: 100px;
  height: 100px;
  position: relative;
  left: 10%;
  top: 400px;
}

#character_spritesheet {
  height: 700px;
  top: 0px;
  position: absolute;
  animation: moveSpriteSheet .5s steps(4) infinite;
}

@keyframes moveSpriteSheet {
  from {
    transform: translate3d(0px,0,0);
  }
  to {
    transform: translate3d(-100%,0,0);
  }
}

#explosion{
  width: 50px;
  height: 50px;
  position: fixed;
  top:450px;
  overflow: hidden;
  visibility: hidden;
}
#explosion_sprites {
  height: 100px;
  opacity: 0.8;
  animation: moveSpriteSheet .5s steps(3) infinite;
}

#coin {
  width: 20px;
  height: 20px;
  position: relative;
  top: 378px;
  left: 100%;
  overflow: hidden;
}

#carrot_sprite {
  height: 20px;
}

.slideAcross {
  animation: sliding 5s infinite linear;
}

@keyframes sliding {
  0%{left:102%;}
  100%{left:-5%;}
}
