*{ padding: 0; margin: 0; }

#game {
  width:100%;
  height:200px;
  border:1px solid black;
}

#character {
  width: 20px;
  height: 60px;
  border: 1px solid black;
  position: relative;
  top: 140px;
}

#block {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  position: relative;
  top: 118px;
  left: 100%;
  animation: sliding 5s infinite linear;
}

@keyframes sliding {
  0%{left:100%;}
  100%{left:-5%;}
}
