*{ padding: 0; margin: 0; }

#game {
  width:100%;
  height:401px;
  border:1px solid black;
  overflow: hidden;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/dc/PIA17944-MarsCuriosityRover-AfterCrossingDingoGapSanddune-20140209.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#statusBar {
  width: 10%;
  height: 10%;
  margin: auto;
  border:1px solid black;
}

#score {
  text-align: center;
}

#stamina {
  width: 100%;
  height: 15%;
  padding-top: 0px;
  background-color: #66ccff;
}

#character {
  width: 20px;
  height: 60px;
  position: relative;
  left: 10%;
  top: 340px;
  overflow: hidden;
}

#character_spritesheet {
  height: 58px;
  animation: moveSpriteSheet .5s steps(4) infinite;
}

@keyframes moveSpriteSheet {
  from {
    transform: translate3d(0px,0,0);
  }
  to {
    transform: translate3d(-100%,0,0);
  }
}

#coin {
  width: 20px;
  height: 20px;
  position: relative;
  top: 318px;
  left: 100%;
  overlap: hidden;
}

#carrot_sprite {
  height: 20px;
}

.slideAcross {
  animation: sliding 5s infinite linear;
}

@keyframes sliding {
  0%{left:100%;}
  100%{left:-5%;}
}

.collapse {
  animation: folding 2s linear;
  animation-fill-mode: none;
}

@keyframes folding {
  from {width:20px;}
  to {width:0px;}
}
