*{ padding: 0; margin: 0; }

#game {
  width:100%;
  height:401px;
  border:1px solid black;
  overflow: hidden;
}

#statusBar {
  top: 90%;
  width: 10%;
  height: 10%;
  align: center;
  border:1px solid black;
}

#score {
  text-align: center;
}

#stamina {
  width: 100%;
  margin: auto;
  padding-top: 0px;
  background-color: #66ccff;
}

#character {
  width: 20px;
  height: 60px;
  border: 1px solid black;
  position: relative;
  left: 10%;
  top: 340px;
}

#coin {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  position: relative;
  top: 318px;
  left: 100%;
}

.slideAcross {
  animation: sliding 5s infinite linear;
}

@keyframes sliding {
  0%{left:100%;}
  100%{left:-5%;}
}

.collapse {
  animation: folding 2s linear;
  animation-fill-mode: none;
}

@keyframes folding {
  from {width:20px;}
  to {width:0px;}
}
